html, body{
    background-color: rgb(49, 47, 47);
    font-family: 'Montserrat', sans-serif !important;
    user-select: none;
}
.the_body_dark{
    background-color: rgb(133, 119, 116);
    color: black;
}

main{
    background-color: rgb(22, 22, 22);
}

nav {
    background-color: #141414;
}

.navbar-brand, .nav-item {
    text-decoration: none;
    font-size: 25px!important;
    margin-right: 20px;
}

nav .navbar-brand, nav .nav-link {
    color: white;
}

nav .nav-link:hover, nav .navbar-brand:hover {
    color: #ec1010;
}

nav .darkmode button {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 10%;
    background-color: #554a4a;
    transform: translateY(30%);
}

nav .darkmode i {
    font-size: 30px;
    margin: auto;
    transform: translateY(1px);
}

.navbar-toggler {
    width: 40px;
    height: 40px;
}

.navbar-toggler span i {
    transform: translateX(-3px);
}

.navbar-toggler span {
    color: white;
}

.background, .background-img{
    max-width: 1440px;
    min-width: auto;
}

h1{
    color: white;
    text-align: center;
}
.links{
    font-size: 30px;
    margin-right: 50px;
}
ul{
    list-style-type: none;
}
a{
    color: white;
}

h3 {
    font-size: 20px!important;
    color: white;
}

p{
    color: white;
}
.experience-tab button {
    width: 300px;
    height: 50px;
    border: 2px solid  #ec1010;
    background-color: #707070;
}

.experience-tab span {
    color:  white;
    font-size: 20px;
    font-weight: 500;
}

.experience-tab-text {
    max-width: 300px;
    min-width: auto;
}

.experience-tab {
    max-width: 300px;
    min-width: auto;
}

.experience-text {
    max-width: 300px;
    min-width: auto;
    border: 2px solid  #ec1010;
    background-color: #707070;
}
.footer{
    background-color: black;
}
.xp{
    max-width: 300px;
}

.modal-content {
    background-color: hsl(0, 0%, 18.82%) !important;
    margin: auto;
    padding: 60px !important;
    border: 1px solid #554a4a;
    width: 80% !important;
  }
  
  /* The Close Button */
  .close, .close1, .close2 {
    color: #554a4a;
    float: right;
    font-size: 28px;
    font-weight: bold;
} 
.close:hover,
.close:focus,.close1:hover,
.close1:focus,.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 

.myBtn, .myBtn1, .myBtn2 {
    margin-bottom: 20px;
} 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.4);
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    max-width: 500px;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

    