html, body{
    background-color: hsl(0, 0%, 18.82%);
    font-family: 'Montserrat', sans-serif !important;
}

main{
    background-color: hsl(0, 0%, 18.82%);
}

nav {
    background-color: #141414;
}

.navbar-brand, .nav-item {
    text-decoration: none;
    font-size: 25px!important;
    margin-right: 20px;
}

nav .navbar-brand, nav .nav-link {
    color: white;
}

nav .nav-link:hover, nav .navbar-brand:hover {
    color: #ec1010;
}

nav .darkmode button {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 10%;
    background-color: #554a4a;
    transform: translateY(30%);
}

nav .darkmode i {
    font-size: 30px;
    margin: auto;
    transform: translateY(1px);
}

.navbar-toggler {
    width: 40px;
    height: 40px;
}

.navbar-toggler span i {
    transform: translateX(-3px);
}

.navbar-toggler span {
    color: white;
}

.background, .background-img{
    max-width: 1440px;
    min-width: auto;
}

h1{
    color: white;
    text-align: center;
}

a{
    color: white;
}
h3 {
    font-size: 20px!important;
    color: white;
}

p{
    color: white;
}
.experience-tab button {
    width: 300px;
    height: 50px;
    border: 1px solid  #50C878;
    background-color: #707070;
}

.experience-tab span {
    color:  #50C878;
    font-size: 20px;
    font-weight: 500;
}

.experience-tab-text {
    max-width: 300px;
    min-width: auto;
}

.experience-tab {
    max-width: 300px;
    min-width: auto;
}

.experience-text {
    max-width: 300px;
    min-width: auto;
    border: 1px solid  #50C878;
    background-color: #707070;
}

.xp{
    max-width: 300px;
}

.modal-content {
    background-color: hsl(0, 0%, 18.82%) !important;
    margin: auto;
    padding: 60px !important;
    border: 1px solid #554a4a;
    width: 80% !important;
  }
  
  /* The Close Button */
  .close, .close1, .close2 {
    color: #554a4a;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,.close1:hover,
  .close1:focus,.close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } 

.inside{
    
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
    